:root {
  --sl-font: 'DM Mono', sans-serif;
  --sl-font-heading: 'DM Sans Variable', sans-serif;
  --sl-font-title: 'Syne Tactile', monospace;
  --font-mono: 'DM Mono', monospace;
  --font-letter-spacing: -0.9px;
}

body {
  letter-spacing: var(--font-letter-spacing);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sl-font-heading);
  /* font-family: 'Jacquard 12', sans-serif; */
}

.site-title {
  font-family: var(--sl-font-title);
}