:root {
  --sl-font: 'EB Garamond Variable', serif;
  --sl-font-heading: 'EB Garamond Variable', serif;
  /* --sl-font-title: 'Syne Tactile', monospace; */
  --sl-font-title: 'EB Garamond Variable', serif;
  --font-mono: 'DM Mono', monospace;
  --font-letter-spacing: normal;
}

body {
  letter-spacing: var(--font-letter-spacing);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sl-font-heading);
  /* font-family: 'Jacquard 12', sans-serif; */
}

.site-title {
  font-family: var(--sl-font-title);
}

.MathJax svg {
  display: inline!important;
}

table {
  border-top: 1.5px solid var(--sl-color-white);
  border-bottom: 1.5px solid var(--sl-color-white);
  table-layout: fixed;
  width: 100%;
  display: table;
}

th {
  border-bottom: 1px solid var(--sl-color-white);
}

td {
  border-bottom: 0;
}