#_top {
    display: none;
}

/* div, button {
    margin: 0;
} */

/* CONTAINER */

.container {
    display: flex;
    flex-direction: column;
    width: 65vw;
    max-width: 500px;
    margin: 0 auto !important;
    /* gap: 20px; */
    justify-content: center;
    padding: 0;
    margin-bottom: 20px;
}

/* HEADER */

.logo {
    height: 200px;
    margin: 0 auto;
    object-fit: cover;
}

.container .header {
    display: flex;
    flex-direction: column;
}

.container .header h1 {
    color: var(--sl-color-accent);
    font-style: italic;
}

/* ABOUT */

.about {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

.about .description {
    padding-left: 10px;
    border-left: 1.5px solid var(--sl-color-white);
}

/* TAG GROUP */

.tag-group {
    display: flex;
    gap: 2px 10px;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
    margin: 0;
}

.tag-group .tag {
    padding: 5px 10px;
    border: 1.5px solid var(--sl-color-white);
    font-family: var(--font-mono);
    font-size: 0.8rem;
    text-align: center;
    transition: 0.3s ease-in;
}

.tag-group .tag:hover {
    /* color: var(--sl-color-accent); */
    /* text-decoration: underline; */
    scale: 1.05;
    background: var(--sl-color-accent-low);
}

.dotted {
    border-style: dotted !important;
}

/* COLLAPSIBLES */

.collapsibles {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.collapsibles .collapsible-group {
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

.collapsible {
    cursor: pointer;
    width: 100%;
    display: flex;
    background: none;
    border: 0;
    border-bottom: solid 1.5px var(--sl-color-white);
    padding: 5px 0;
    margin: 1.5px 0;
    justify-content: space-between;  
    font-style:italic;
}

.active:after {
  content: "\25C8";
  opacity: 0.7;
}

.byi, .fandoms {
  /* padding: 0 18px; */
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

/* FANDOM */

.fandoms {
    display: flex;
    flex-direction: column;
}

.fandoms .row-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.row-item .topic {
    font-weight: bold;
}

.row-item .tag-group {
    width: 75%;
}

/* FEATURED CHARACTERS */

.featured-chars {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.featured-chars .chara {
    max-height: 200px;
    width: auto;
    /* object-fit: cover; */
    /* border-radius: 50%; */
    margin: 15px auto;
    transition: 0.3s;
    opacity: 0.9;
}

.featured-chars .chara:hover {
    scale: 1.05;
    opacity: 1;
}

/* SOCIALS */

.container .socials {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.container .socials a {
    text-decoration: none;
    color: var(--sl-color-accent-high);
    font-family: var(--font-mono);
    transition: 0.3s;
}

.container .socials a:hover {
    /* color: var(--sl-color-accent); */
    /* text-decoration: underline; */
    scale: 1.05;
}

/* SEE MORE LINK */

.see-more {
    /* cursor: pointer; */
    display: flex;
    width: fit-content;
    padding: 5px 10px;
    background: none;
    border: 0;
    font-style:italic;
    gap: 5px;
    margin: auto;
    text-decoration: none;
    color: var(--sl-color-white);
    transition: 0.3s;
    font-size: 1.2rem;
}

.see-more:hover {
    scale: 1.05;
}

/* DIAMOND "AFTER" */

.collapsible:after, .see-more:after{
  content: '\25C7';
  color: var(--sl-color-white);
  margin-left: 5px;
  font-style: normal;
  transition: 0.3s;
  opacity: 0.7;
}

.collapsible:hover:after, .see-more:hover:after{
  content: '\25C8'; 
  /* color: var(--sl-color-accent); */
  opacity: 1;
}

/* MISC */

.suits {
    height: 20px;
    width: auto;
    object-fit: cover;
    margin: 25px auto;
}